@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  letter-spacing: 2px;
}

:root {
  --font: #231f20;
}
.istoria {
  margin-right: 75px;
}
.navbar a {
  text-decoration: none;
}
.navbar {
  border-bottom: 2px solid #a6a6a6;
  background-color: white;
}
.navbarand {
  padding: 0px 10px;
}
.navbar-toggler {
  border: 0px solid black;
}
.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active {
  border: none;
  outline: none;
}

.navigations {
  display: flex;
  justify-content: space-around;
}
.navigations ul {
  display: flex;
  justify-content: space-around;
}
.navigations ul li {
  list-style: none;

  transition: 0.3s ease-in-out;
}
.navigations ul li a:hover {
  transform: scale(1.1);
}
.navigations ul li {
  text-decoration: none;
  color: #231f20;
  margin: 0px 25px;
  padding: 3px 20px;
  background-color: white;
  transform: skew(-40deg);
  transition: 0.3s ease;
}

.navigations ul li a {
  display: inline-block;
  text-decoration: none;
  color: #231f20;
  font-size: 12px;
  transform: skew(40deg);
  font-weight: 500;
}
.navigations ul li:hover {
  transform: scale(1.1);
  box-shadow: 0px 14px 52px -7px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 14px 52px -7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 14px 52px -7px rgba(0, 0, 0, 0.75);
}

.home_banner {
  position: relative;
  margin-top: 80px;
}
.flex {
  margin-top: 80px;
  position: absolute;
  padding: 100px;
}
.upper {
  width: 35%;
}
.lower {
  display: flex;
  justify-content: end;
}
.lower p {
  width: 25%;
  padding-top: 100px;
}
.flex h1 {
  color: white;
  font-weight: 700;
  font-size: 45px;
}
.flex p {
  margin-top: 50px;
  color: white;
  margin-bottom: 40px;
  text-transform: uppercase;
}
.flex a {
  color: white;
  border: 1px solid white;
}
.letknow {
  margin-top: 150px;
}
.letusdesc {
  color: #231f20;
  padding: 90px;
}
.letusdesc h1 {
  font-weight: 700;
  font-size: 80px;
  margin-top: 100px;
}
.letusdesc p {
  font-size: 20px;
  margin-top: 50px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.curious h1 {
  margin-top: 150px;
}
.curious p {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 60px 200px;
  text-align: justify;
}
footer {
  border-top: 1px solid #231f20;
}
.footer {
  margin: 50px 100px 50px 100px;
  display: flex;
  justify-content: space-between;
}
.colm1 h5 {
  margin-top: 20px;
  font-size: 12px;
}
.colm1 h6 {
  margin-top: 20px;
  line-height: 18px;
  font-size: 9px;
}
.colm1 h4 {
  font-weight: 700;
  border-bottom: 3px solid #231f20;
  font-size: 20px;
}
.colm2 h5 {
  font-weight: 700;
  font-size: 20px;
}
.colm2 h6 {
  font-size: 13px;
  margin-top: 25px;
}
.colm2 img {
  width: 25px;
  margin-right: 15px;
  margin-top: 10px;
}
.curious h1 {
  font-weight: 700;
}

.button {
  display: flex;
  justify-content: end;
  margin-top: 50px;
}
.stylishbtn .btn {
  border: 1px solid #231f20;
}
.menu_title h1 {
  font-weight: 700;
  text-align: center;
  font-size: 50px;
}
.navprofile a {
  text-decoration: none;
  color: #231f20;
  padding: 0px 10px;
  font-size: 20px;
}
.coffee_title h1 {
  font-weight: 700;
  text-align: center;
  font-size: 50px;
}
.products h1 {
  text-align: center;
  font-weight: 700;
  margin-top: 80px;
}
.viewall a {
  border: 1px solid #231f20;
  width: 200px;
  margin-top: 50px;
}
.subnav {
  margin-left: 140px;
}
.subnav ion-icon {
  font-size: 40px;
}
.subnav-coffee ion-icon {
  font-size: 30px;
}
.subnav-coffee {
  display: flex;
  justify-content: space-between;
}
.subnav-global {
  display: flex;
  justify-content: flex-start;
}
.subnav-global ion-icon {
  font-size: 30px;
}
.sortby {
  border: 1px solid #231f20;
  margin-top: -5px;
}

.menu-flex {
  display: flex;
  justify-content: space-evenly;
  flex-flow: wrap;
  margin-top: 60px;
}
.menu-flex a {
  text-decoration: none;
  color: var(--font);
}
.menu-flex .box {
  padding: 80px;
  text-align: center;
  width: 300px;
  height: 400px;
  margin-bottom: 50px;
  transition: 0.5s ease;
}

.menu-flex .box h1 {
  margin-top: 20px;
}
.menu-flex .box:hover {
  border-radius: 30px;
  box-shadow: -2px -2px 59px -20px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -2px -2px 59px -20px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -2px -2px 59px -20px rgba(0, 0, 0, 0.75);
  transform: scale(1.1);
}
.menu-flex .box img {
  width: 150px;
}
.line {
  text-align: center;
  width: 100px;
  height: 5px;
  background-color: #231f20;
}
.sidebar {
  display: flex;
  flex-direction: column;
  position: fixed;
  margin-top: 400px;
}
.sidebar img {
  width: 20px;
  margin-top: 11px;
  margin-left: 25px;
}
.sidebar p {
  transform: rotate(270deg);
  font-size: 10px;
  margin-top: 60px;
  margin-left: -22px;
  font-weight: 700;
}
.coffe-flex {
  display: flex;
  justify-content: space-evenly;
  flex-flow: wrap;
}
.coffe-flex .box {
  padding: 50px;
}

.coffe-flex .box img {
  width: 250px;
  margin-top: -40px;
  transition: 0.3s ease;
}
.enlargebox {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 30px;
}
.enlarge ion-icon {
  font-size: 24px;
  color: white;
}
.coffe-flex .box:hover .enlarge ion-icon {
  color: #231f20;
}
.coffe-flex .box:hover img {
  transform: scale(1.2);
}
.coffe-flex .box .description h5 {
  font-weight: 700;
}

.coffe-flex .box .description h6 {
  font-size: 13px;
  margin-top: -6px;
}
.modal-coffee-img {
  width: 500px;
  margin-left: 35px;
  margin-top: 60px;
}
.modal-div-2 {
  background-color: #f6f3f1;
  padding: 40px;
}
.modal-div-2 h1 {
  font-weight: 700;
  font-size: 20px;
}
.modal-div-2 h5 {
  font-weight: 700;
  font-size: 15px;
  margin-bottom: 20px;
}
.modal-div-2 h6 {
  font-size: 10px;
  margin-bottom: 10px;
}
.modal-div-2 label {
  font-size: 10px;
  margin-bottom: 20px;
  margin-right: 20px;
}
.modal-div-2 input[type="radio"]:checked + label {
  background-color: #231f20;
  color: white;
}
.viewpage-title-coffe {
  text-align: center;
  font-weight: 700;
  font-size: 50px;
}
.view-div-2 {
  padding: 40px;
}
.view-div-2 h1 {
  font-weight: 700;
  font-size: 20px;
}
.view-div-2 h5 {
  font-weight: 700;
  font-size: 15px;
  margin-bottom: 20px;
}
.view-div-2 h6 {
  font-size: 10px;
  margin-bottom: 10px;
}
.view-div-2 label {
  font-size: 10px;
  margin-bottom: 20px;
  margin-right: 20px;
}
.view-div-2 input[type="radio"]:checked + label {
  background-color: #231f20;
  color: white;
}
.view-div-2 {
  overflow-y: auto;
  height: 100%;
}
.viewpagediv {
  height: 600px;
}

.star ion-icon {
  font-size: 15px;
}
.star {
  margin-top: -10px;
  margin-bottom: 20px;
}
.addonts-table tbody tr td h5 {
  font-size: 10px;
}

.addonts-table tbody tr input[type="checkbox"]:checked + label {
  background-color: #231f20;
  color: white;
}
.addonts-table {
  line-height: 20px;
}

.viewaddonts-table tbody tr {
  margin-top: -10px;
  background-color: white;
}
.viewaddonts-table tbody tr td h5 {
  font-size: 10px;
}

.viewaddonts-table tbody tr input[type="checkbox"]:checked + label {
  background-color: #231f20;
  color: white;
}
.viewaddonts-table {
  line-height: 20px;
}

.viewaddonts-table tbody tr {
  margin-top: -10px;
}
.add-to-traybtn {
  font-size: 13px;
  margin-top: -50px;
  font-weight: 700;
  border: 1px solid #231f20;
}
.add-to-tray {
  font-size: 13px;
  margin-top: -10px;
  font-weight: 700;
  border: 1px solid #231f20;
}
.viewdetails {
  border: none;
  background: none;
  cursor: pointer;
  text-decoration: none;
  color: #231f20;
}

.viewdetails span {
  padding-bottom: 7px;
  letter-spacing: 4px;
  font-size: 14px;
  padding-right: 15px;
  text-transform: uppercase;
  font-size: 10px;
}

.viewdetails svg {
  transform: translateX(-8px);
  transition: all 0.3s ease;
  font-size: 5px;
}

.viewdetails:hover svg {
  transform: translateX(0);
}

.viewdetails:active svg {
  transform: scale(0.9);
}

.hover-underline-animation {
  position: relative;
  color: black;
  padding-bottom: 20px;
  font-size: 20px;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #000000;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.viewdetails:hover .hover-underline-animation:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.viewbtn button {
  margin-top: 7px;
}
.stylishbtn,
.stylishbtn2,
.stylishbtn3 {
  text-align: center;
  --color: var(--font);
  font-family: inherit;
  display: inline-block;
  height: 2.6em;
  line-height: 2.5em;
  margin: 20px;
  position: relative;
  overflow: hidden;
  border: 1px solid var(--color);
  transition: color 0.5s;
  z-index: 1;
  font-size: 17px;
  border-radius: 6px;
  font-weight: 500;
  color: var(--color);
  text-decoration: none;
}

.stylishbtn:before,
.stylishbtn2:before,
.stylishbtn3:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: var(--color);
  height: 150px;
  border-radius: 50%;
  top: 100%;
  left: 100%;
  transition: all 0.7s;
}

.stylishbtn:hover,
.stylishbtn2:hover,
.stylishbtn3:hover {
  color: #fff;
}

.stylishbtn:hover:before,
.stylishbtn2:hover:before,
.stylishbtn3:hover:before {
  top: -30px;
  left: -30px;
}
.stylishbtn {
  width: 9em;
}
.stylishbtn2 {
  width: 11em;
}
.stylishbtn3 {
  width: 9em;
}
.stylishbtn:before {
  width: 200px;
}
.stylishbtn2:before {
  width: 300px;
}
.stylishbtn3:before {
  width: 300px;
}

.viewbtn a {
  margin-top: 7px;
  font-size: 13px;
  border: 1px solid #231f20;
  font-weight: 700;
}
.nega {
  margin-left: -25px;
}
.review {
  margin-top: 50px;
}
.review h1 {
  margin-top: 30px;
  margin-bottom: 15px;
}
.overallrating p {
  font-weight: 700;
  font-size: 12px;
  margin-top: 5px;
}
.starstatic {
  display: flex;
  flex-direction: row;
}
.starstatic ion-icon {
  margin-right: 5px;
}
.guidestar ion-icon {
  font-size: 9px;
}
.detailrating {
  border-left: 2px solid #231f20;
  line-height: 12px;
}
.reviewtop img {
  width: 70px;
  height: 70px;
}
.reviewtop {
  display: flex;
}
.reviewdetstars {
  display: flex;
}
.reviewdetstars p {
  font-size: 12px;
  margin-left: 10px;
}
.reviewdets {
  line-height: 20px;
  margin-left: 10px;
}
.reviewdets h6 {
  font-weight: 700;
  margin-top: -10px;
  font-size: 12px;
}
.reviewdets h5 {
  font-size: 10px;
  font-weight: 500;
}
.reviewbot p {
  font-size: 15px;
  width: 550px;
}
.reviewdetstars ion-icon {
  margin-right: 3px;
}
.about-title,
.contactus-title {
  font-weight: 700;
}
.about-panel1 {
  display: flex;
  margin: 50px 100px;
}
.about-panel2 {
  display: flex;
  margin: 80px 100px;
}
.about-text1 {
  padding: 100px;
  text-align: justify;
  vertical-align: middle;
  text-transform: uppercase;
  font-size: 22px;
  width: 70%;
}
.about-text2 {
  padding: 100px;
  text-align: justify;
  vertical-align: middle;
  text-transform: uppercase;
  font-size: 22px;
  width: 60%;
}
.about-text3 {
  margin: 100px 300px;
  text-align: justify;
  font-size: 22px;
  text-transform: uppercase;
}
.contact-flex {
  display: flex;
  justify-content: space-between;
}
.contactus {
  margin: 0px 100px;
}
.contact-col1 {
  width: 45%;
}
.contact-col1 form {
  display: flex;
  flex-direction: column;
}
.contact-gettouch {
  margin-bottom: 40px;
  font-weight: 700;
}
.contact-col1 form input,
.contact-col1 form textarea {
  padding: 10px;
  font-size: 12px;
  border: 1px solid #231f20;
  margin-bottom: 20px;
}

.contact-col1 form input::placeholder,
.contact-col1 form textarea::placeholder {
  font-weight: 600;
  color: #000000;
}
.fancy {
  background-color: transparent;
  border: 1px solid #231f20;
  border-radius: 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  width: 35%;
  font-weight: 700;
  letter-spacing: 0.05em;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 1.25em 2em;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  transition: all 0.3s ease-in-out;
  user-select: none;
  font-size: 12px;
}

.fancy::before {
  content: " ";
  width: 1.5625rem;
  height: 2px;
  background: black;
  top: 50%;
  left: 1.5em;
  position: absolute;
  transform: translateY(-50%);
  transform-origin: center;
  transition: background 0.3s linear, width 0.3s linear;
}

.fancy .text {
  font-size: 1.125em;
  line-height: 1.33333em;
  padding-left: 2em;
  display: block;
  text-align: left;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
}

.fancy .top-key {
  height: 2px;
  width: 1.5625rem;
  top: -2px;
  left: 0.625rem;
  position: absolute;
  background: #e8e8e8;
  transition: width 0.5s ease-out, left 0.3s ease-out;
}

.fancy .bottom-key-1 {
  height: 2px;
  width: 1.5625rem;
  right: 1.875rem;
  bottom: -2px;
  position: absolute;
  background: #e8e8e8;
  transition: width 0.5s ease-out, right 0.3s ease-out;
}

.fancy .bottom-key-2 {
  height: 1px;
  width: 0.625rem;
  right: 0.625rem;
  bottom: -2px;
  position: absolute;
  background: #e8e8e8;
  transition: width 0.5s ease-out, right 0.3s ease-out;
}

.fancy:hover {
  color: white;
  background: black;
}

.fancy:hover::before {
  width: 0.9375rem;
  background: white;
}

.fancy:hover .text {
  color: white;
  padding-left: 1.5em;
}

.fancy:hover .top-key {
  left: -2px;
  width: 0px;
}

.fancy:hover .bottom-key-1,
.fancy:hover .bottom-key-2 {
  right: 0;
  width: 0;
}
.about-flex {
  display: flex;
}
.contact-col2 {
  width: 30%;
  margin-left: 60px;
}
.contact-col3 h1 {
  font-weight: 700;
  font-size: 15px;
  margin-bottom: 10px;
}
.contact-col3 p {
  font-size: 10px;
  margin-bottom: 30px;
}
.contact-col3 {
  width: 25%;
  text-transform: uppercase;
}
.contact-socmeds img {
  width: 18px;
  margin-right: 3px;
  text-align: center;
}
.contact-address {
  display: flex;
}
.contact-address img {
  width: 30px;
  height: 30px;
}
.contact-address p {
  font-size: 10px;
  text-transform: uppercase;
  width: 80%;
}
.about-follow h1 {
  font-size: 15px;
  font-weight: 700;
  margin-top: 10px;
}
